{% extends "layoutAdmin.twig" %}

{% block content %}   


<h1>Les users</h1>

	{% for user in users %}
		<p>prenom: {{user.firstame}}</p>
		<p>nom:{{user.lastname}}</p>
		<p>mail{{user.email}}</p>
		<p>permission{{user.permission}}</p>
	{% endfor %}

{% endblock %}


