{% extends "layout.twig" %}

{% block content %}

<h1>{{username}}</h1>
	
	{% for author in authors %}


		<p>titre article: {{author.articletitle}}</p>
		<p>texte article: {{author.articletext}}</p>
		<p>date article: {{author.articledate|date()}}</p>
		
		
	{% endfor %}


{% endblock %}

