{% extends "layout.twig" %}

{% block content %}
<h1>{{username}}</h1>
	{% for author in authors %}

	<div id="artAuthor">
			<h3>{{author.articletitle}}</h3>
			<p>Article: {{author.articletext}}</p>
			<p><i><small>Date: {{author.articledate|date()}}</small></i></p>
			<div id="lineSep"></div>
	</div>
	{% endfor %}

{% endblock %}
